html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: "Inter", sans-serif;
  top: 0 !important;
}

.container {
  max-width: 1250px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 1090px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 764px;
  }
}

a,
a:hover {
  color: #0074bf;
  color: #000;
  text-decoration: none;
}

.ul-reset {
  padding: 0;
  margin: 0;
}
.ul-reset li {
  list-style: none;
}

.btn-primary {
  background: #E61B1B;
  border-color: #E61B1B;
}
.btn-primary:hover {
  background: #E61B1B;
  border-color: #E61B1B;
  opacity: 0.8;
}

.sapo-detail {
  background: #e5e5e5;
  border: 1px #ccc dashed;
  padding: 10px;
  font-style: italic;
  margin: 1rem 0;
}

input {
  outline: 0;
  border: 0;
}

button {
  outline: 0;
  border: 0;
  background: none;
}

.header-top .logo {
  width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 15px 0px;
}

.maps-header {
  width: 170px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
.maps-header a {
  padding: 3px 12px;
  border-radius: 40px;
  height: 36px;
  line-height: 1.1;
  background-color: #0074bf;
  color: #fff;
  display: block;
}

.list-top-item {
  height: 100%;
  line-height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-search {
  display: flex;
  border: 1px solid #0074bf;
  border-radius: 25px;
}
.box-search button {
  color: #0074bf;
}

.box-icon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.box-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 40px;
  height: 36px;
  margin-right: 15px;
}
.box-phone img {
  border: 0 none;
  max-width: 100%;
  height: auto;
}

.content_phone {
  line-height: 1.1;
  margin-left: 5px;
}
.content_phone span {
  display: block;
  color: #000;
}
.content_phone a {
  color: #0074bf;
  font-weight: 700;
  font-size: 16px;
}

.wish-header {
  line-height: 1.1;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
}
.wish-header svg {
  line-height: 1.1;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #0074bf;
  color: #0074bf;
}

.header-acc {
  width: 32px;
  height: 32px;
  line-height: 1;
  border-radius: 50%;
  color: #000;
  display: flex;
  border: 1px solid #0074bf;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
}

.js-wishlist-count {
  font-size: 10px;
  text-decoration: none;
  background-color: #fa9e0f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #000;
  padding: 0 4px;
}

.txt-yt b {
  font-size: 16px;
  font-weight: 700;
  color: #0074bf;
}

.header-action_cart {
  position: relative;
}

.cart-header {
  width: 32px;
  height: 32px;
  line-height: 1;
  border-radius: 50%;
  color: #000;
  border: 1px solid #0074bf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.count_item_pr {
  font-size: 10px;
  text-decoration: none;
  background-color: #fa9e0f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #000;
  padding: 0 2px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #0074bf;
}

.menu-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.menu-main li {
  margin: 0 10px;
}
.menu-main a {
  color: #fff;
  display: flex;
  align-items: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.div1 {
  grid-area: 1/1/4/6;
}

.div2 {
  grid-area: 1/6/2/8;
}

.div3 {
  grid-area: 2/6/3/8;
}

.div4 {
  grid-area: 3/6/4/8;
}

.list-banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_one_slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 7px 7px 10px;
  border-radius: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #343a40;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.title_one_slide.slick-current {
  border-top: 2px solid #0074bf;
  font-weight: 500;
  background-color: #f8f8f8;
}

.banner-item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 126px;
}

.gird-brand {
  gap: 20px 40px;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
}
.gird-brand img {
  width: 100%;
  margin: auto;
  display: block;
  min-height: 37.08px;
  max-height: 37.08px;
  aspect-ratio: 3/1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.7s transform;
}
.gird-brand img:hover {
  transform: scale(1.1);
}

.item_brand {
  overflow: hidden;
}

.box-sale h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}
.box-sale h2 a {
  color: #ffe645;
}
.box-sale h2 img {
  max-width: 26px;
  height: 26px;
  vertical-align: -6px;
  animation: zoom-in-out 1500ms infinite;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(0.8, 0.8);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-8deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1, 1, 1) rotate(8deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1, 1, 1) rotate(-8deg);
  }
  100% {
    transform: scale(0.9);
  }
}
.box-sale {
  background-color: #0074bf;
  padding: 15px;
  position: relative;
  border-radius: 5px;
}

.item_product_main {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding-bottom: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 2px;
  border: 0;
}
.item_product_main .img-product {
  transition: all 0.5s ease;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: 1;
}

.temp1 {
  background: linear-gradient(to right, #ef3006, #c60004);
  border-radius: 20px;
  padding-right: 8px;
  margin-bottom: 0px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
}
.temp1 span {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-left: 3px;
  text-transform: uppercase;
  padding: 2px 0 0 4px;
}

.product-name {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: unset;
  line-height: 20px;
  height: 40px;
  margin-bottom: 0px;
  margin-top: 10px;
  word-wrap: break-word;
}

.price-box .price {
  color: #0074bf;
  font-weight: 400;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.compare-price {
  color: #98a4a9;
  text-decoration: line-through;
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
}

.smart {
  color: #c40025;
}

.productcount {
  margin-top: 10px;
  min-height: 20px;
  width: 100%;
  position: relative;
}
.productcount span {
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  color: #fff;
  line-height: 12px;
  left: 50%;
  font-weight: 400;
  transform: translateX(-50%);
}

.countitem {
  width: 100%;
  height: 16px;
  border-radius: 7px;
  position: relative;
  background: #0074bf;
  z-index: 1;
  margin-top: 5px;
}

.countitem.visible {
  background: #ffd0a9;
}

.countdown {
  position: absolute;
  height: 16px;
  border-radius: 7px;
  background-color: #c90404;
  z-index: 2;
  left: 0;
  top: 0;
  background-size: 40px 40px;
  animation: progress_bar_fill 2s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
}

@keyframes progress_bar_fill {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}
.slide-sale .slick-slide {
  margin: 0 10px;
}
.slide-sale .slick-list {
  margin: 0 -10px;
}
.slide-sale .slick-list {
  padding: 10px;
}
.slide-sale .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slide-sale .slick-dots li {
  margin: 0 0.25rem;
}
.slide-sale .slick-dots button {
  display: block;
  border-radius: 3px;
  width: 24px;
  height: 7px;
  background: #4a5579;
  line-height: 9px;
  padding: 0;
  border: none;
  text-indent: -9999px;
}
.slide-sale .slick-dots li.slick-active button {
  background-color: #0074bf;
}

.product-img:hover .group_action a {
  transform: scale(1);
}

.group_action {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 3;
  transform: translate(-50%, -50%);
  width: 36px;
}
.group_action a {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #0074bf;
  color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.5s;
}

.title_index {
  position: relative;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.title_index h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0px;
  background-color: #0074bf;
  padding: 5px 10px 5px 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.title_index h2:after {
  content: "";
  position: absolute;
  width: 38px;
  top: 0px;
  bottom: 0;
  right: -3px;
  border-radius: 50%;
  box-shadow: 4px 0px 0px -1px #0074bf;
}
.title_index img {
  max-width: 28px;
  margin-right: 3px;
}
.title_index a {
  color: white;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 18px;
}

.link_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  position: initial;
  justify-content: center;
  margin: 5px 0px;
}
.link_title li {
  margin-right: 10px;
}
.link_title a {
  display: block;
  min-width: 70px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 15px;
  text-align: center;
  background: white;
  border-radius: 30px;
  color: #0074bf;
  border: 1px solid #0074bf;
  font-size: 14px;
}
.link_title a:hover {
  color: #fff;
  background: #0074bf;
}

.banner_air_conditioner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 7/5;
}

.card-body {
  padding: 10px !important;
}

.title_blog_box {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_pro {
  font-size: 22px;
  color: #0074bf;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.see_all {
  font-size: 14px;
  color: #0074bf;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 {
  grid-area: 1/1/5/5;
}

.div2 {
  grid-area: 1/5/3/7;
}

.div3 {
  grid-area: 1/7/3/9;
}

.div4 {
  grid-area: 1/9/3/11;
}

.div5 {
  grid-area: 3/5/5/7;
}

.div6 {
  grid-area: 3/7/5/9;
}

.div7 {
  grid-area: 3/9/5/11;
}

.article-item {
  position: relative;
}
.article-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  right: 0;
  background: linear-gradient(0deg, #000, transparent);
}
.article-item img {
  width: 100%;
}
.article-item a {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 60px;
}

.promo-item {
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding-top: 7px;
  padding-bottom: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, #004d7e 0%, #0074bf 50%, #004d7e 100%);
}
.promo-item .icon {
  display: inline-block;
  margin-bottom: 0px;
}
.promo-item .icon img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.promo-item .info {
  text-align: left !important;
  display: inline-table;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0;
  color: #fff;
  margin-left: 8px;
}

.promo-box span {
  font-weight: 600;
}

footer {
  padding: 30px 0 20px;
  margin-top: 30px;
  background-color: #0074bf;
}
footer .title-menu {
  line-height: normal;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 14px;
  margin: 0px 0 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
footer .list-menu {
  padding-left: 12px;
  color: #fff;
}
footer .list-menu .li_menu a {
  padding: 5px 0;
  padding-left: 15px;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: block;
  transition: all ease 0.2s;
}

.des_foo {
  color: #fff;
  margin-bottom: 10px;
}

.social {
  margin-top: 10px;
  margin-bottom: 10px;
}
.social a {
  display: inline-block;
  width: 35px;
  font-size: 14px;
  margin-right: 5px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.social a.fb {
  background-color: #1877f2;
}
.social a.tt {
  background-color: #55acee;
}
.social a.yt {
  background-color: #b00;
}
.social a.ins {
  background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%);
}
.social a svg {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.payment-accept img {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 4px 8px;
  max-width: 60px;
  margin-bottom: 3px;
  max-height: 33.14px;
  margin-right: 5px;
}

.li-kmdiscount {
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  text-align: right;
  animation: zoom-in-zoom-out 2000ms infinite;
}
.li-kmdiscount a {
  color: #fcaf17;
  text-transform: uppercase;
  font-weight: 600;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.85, 0.85);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-2deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1, 1, 1) rotate(2deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1, 1, 1) rotate(-2deg);
  }
  100% {
    transform: scale(0.9);
  }
}/*# sourceMappingURL=style.css.map */